@font-family: Roboto;

// Blue palette
@blue400: #60a5fa;
@blue500: #3b82f6;
@blue600: #2563eb;

// Rose palette
@rose500: #f43f5e;

// Grey palette
@grey400: #262626;

// Error
@error-color: @rose500;

// Link
@link-color: @blue400;
@link-hover-color: @blue500;
@link-active-color: @blue600;

// Form
@label-required-color: @rose500;

// Table
@table-border-color: @grey400;
@border-color-base: #e2e8f0;
@border-radius-base: 4px;
@table-header-bg: #fafafa;
@table-border-color: #e4e4e7;
@table-header-color: #a1a1aa;
@table-header-cell-split-color: transparent;

@body-background: #fafafa;

@text-color: #18181b;
@text-color-secondary: #52525b;
@heading-color: #18181b;
@heading-5-size: 18px;

@icon-color: #71717a;

//menu
@menu-bg: #fafafa;

// Disabled states
@disabled-color: #52525b;
@disabled-bg: @background-color-base;
@disabled-active-bg: tint(@black, 90%);
@disabled-color-dark: fade(#fff, 35%);

// Tag
// --
@tag-border-radius: @border-radius-base;
@tag-default-bg: #f4f4f5;
@tag-default-color: #71717a;
@tag-font-size: 12px;
@tag-line-height: 14px;

//btn-danger
@btn-danger-color: #fff;
@btn-danger-bg: #db2777;
@btn-danger-border: #db2777;

.ant-table table {
  border: 1px solid @table-border-color;
}

.header-dropdown-menu {
}

.header-dropdown-menu .ant-dropdown-menu {
  background-color: white !important;
}

.header-dropdown-menu .ant-dropdown-arrow {
  background: linear-gradient(135deg, transparent 40%, #fff 40%) !important;
}

.header-dropdown-menu .ant-dropdown-arrow::before {
  background: #fff;
}

.header-dropdown-menu .ant-dropdown-menu-item {
  color: #71717a;
  margin: 0 16px;
}

.header-dropdown-menu ul li:first-child {
  color: #3f3f46 !important;
}

.header-dropdown-menu ul li:not(:last-child) {
  border-bottom: 1px solid #e4e4e7;
}
