// Blue palette
@blue400: #60a5fa;
@blue500: #3b82f6;
@blue600: #2563eb;

// Rose palette
@rose500: #f43f5e;

// Error
@error-color: @rose500;

// Link
@link-color: @blue400;
@link-hover-color: @blue500;
@link-active-color: @blue600;
